amqp==5.3.1
asgiref==3.11.1
billiard==4.2.4
brotli==1.2.0
celery==5.4.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
crispy-bootstrap5==2024.2
cssselect2==0.9.0
dj-database-url==2.2.0
Django==5.0.6
django-axes==6.5.0
django-crispy-forms==2.3
django-ratelimit==4.1.0
django-redis==5.4.0
django-rosetta==0.10.0
djangorestframework==3.15.2
fonttools==4.63.0
gunicorn==22.0.0
html5lib==1.1
idna==3.18
kombu==5.6.2
packaging==26.2
pillow==10.4.0
polib==1.2.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.9
pycparser==3.0
pydyf==0.8.0
pyphen==0.17.2
pypng==0.20220715.0
python-barcode==0.15.1
python-dateutil==2.9.0.post0
python-decouple==3.8
qrcode==7.4.2
redis==5.0.7
requests==2.34.2
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
tinycss2==1.5.1
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.1
weasyprint==60.2
webencodings==0.5.1
wheel==0.47.0
whitenoise==6.7.0
zopfli==0.4.3
